<div class="popular-posts">

<ul>

{% for post in site.posts limit:5 %}

<li class="popular-item">

<a href="{{ post.url | relative_url }}">

<img
  src="{% if post.image %}
        {{ post.image | prepend: '/' | relative_url }}
       {% else %}
        {{ '/assets/images/no-image.jpg' | relative_url }}
       {% endif %}"
  alt="{{ post.title }}"
  width="80"
  height="60">

</a>

<div class="popular-title">
<a href="{{ post.url | relative_url }}">
{{ post.title }}
</a>
</div>

</li>

{% endfor %}

</ul>

</div>